In [13]:
import pandas as pd
from sqlite3 import Cursor as executor #variavel para executar os comando mysql
import pymysql
planilha = pd.read_csv('contas - Página1.csv',delimiter = ',')
planilha2 = pd.read_csv('contas - Página2.csv',delimiter = ',')
#planilha.head()
#planilha.describe()
#planilha.shape


conexao = pymysql.connect(host="localhost", port=3306, database="teste",user="root",password="root",autocommit=True)
executor = conexao.cursor()
executor.execute("select database();")
record = executor.fetchone()
print("Conectado ao banco de dados: ", record)
executor.execute('DROP TABLE IF EXISTS contaspython;')
executor.execute('DROP TABLE IF EXISTS contaspython2;')
print('Criando database...')

executor.execute("CREATE TABLE contaspython(id INT NOT NULL,nome varchar(255),idade INT, PRIMARY KEY(id))")

executor.execute("CREATE TABLE contaspython2(id INT NOT NULL,jogo varchar(255),filme varchar(255), PRIMARY KEY(id))")


for i,row in planilha.iterrows():

    sql = "INSERT INTO teste.contaspython VALUES (%s,%s,%s)"
    executor.execute(sql, tuple(row))
           
    conexao.commit()

for i,row in planilha2.iterrows():

    sql = "INSERT INTO teste.contaspython2 VALUES (%s,%s,%s)"
    executor.execute(sql, tuple(row))
             
    conexao.commit()

executor.execute("select contaspython.id, contaspython.nome, contaspython.idade, contaspython2.jogo, contaspython2.filme from contaspython inner join contaspython2 on contaspython.id = contaspython2.id;")
for row in executor.fetchall():
    print(row)

Conectado ao banco de dados:  ('teste',)
Criando database...
(1, 'Bruno', 23, 'assassins', 'forest gump')
(2, 'João', 24, 'pokemon', 'a procura da felicidade')
(3, 'Mônica', 35, 'mario', 'se eu fosse você')
(4, 'Camila', 30, 'sonic', 'batman')